* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 16px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  margin: 16px;
  border: 1px solid lightgrey;
  padding: 16px;
  width: 320px;
}

p {
  margin-bottom: 4px;
}

button {
  margin-right: 4px;
  padding: 4px 8px;
}